[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clarifai = "*"
requests = "*"
clarifai-grpc = "*"
wolframalpha = "*"
api = "*"
django = "*"
django-rest-framework = "*"
black = "*"
isort = "*"
pipfile = "*"
django-jsonfield = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-environ = "==0.9.0"
dj-database-url = "*"
python-decouple = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
